a[b-g62f1b4y1c], .nav-link[b-g62f1b4y1c]{
    text-decoration: none;
    color: black;
}

.navegation[b-g62f1b4y1c] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu[b-g62f1b4y1c] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: center;
}

.company-name[b-g62f1b4y1c] {
    font-size: 1.3rem;
}

.nav-link[b-g62f1b4y1c] {
    font-size: 1.1rem;
    color: black;
}

.hamburger[b-g62f1b4y1c] {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {

    .company-name[b-g62f1b4y1c]{
        font-size: .7rem;
    }

    .hamburger[b-g62f1b4y1c] {
        display: block;
    }

    .nav-menu[b-g62f1b4y1c] {
        display: none;
        grid-template-columns: 1fr;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: aqua;
        padding: 20px;
    }

    .nav-menu.open[b-g62f1b4y1c] {
        display: grid;
    }

    .nav-link[b-g62f1b4y1c] {
        font-size: 1rem;
        color: black;
        border: 2px solid #3498db;
        padding: 20px;
        border-radius: 10px;
    }
}