a[b-g62f1b4y1c], .nav-link[b-g62f1b4y1c]{
    text-decoration: none;
    color: white;
}

.navegation[b-g62f1b4y1c] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu[b-g62f1b4y1c] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: center;
}


.nav-menu div[b-g62f1b4y1c] {
    background-color: #611630;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.company-name-container[b-g62f1b4y1c] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 2rem;
}

.company-name[b-g62f1b4y1c] {
    font-size: 1rem;
    color: white;
    margin: 0 0 0 2rem;
    width: max-content;
}

.hamburger[b-g62f1b4y1c] {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {

    .company-name[b-g62f1b4y1c]{
        font-size: 0.8rem;
        width: 4rem;
    }

    .hamburger[b-g62f1b4y1c] {
        display: block;
        color: white;
        margin: 0 0 0 7rem;
    }

    .nav-menu[b-g62f1b4y1c] {
        display: none;
        grid-template-columns: 1fr;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #090969;
        padding: 20px;
    }

    .nav-menu div[b-g62f1b4y1c] {
        margin: 1rem 5rem;
    }

    .nav-menu.open[b-g62f1b4y1c] {
        display: grid;
        width: 86%;
    }

    .nav-link[b-g62f1b4y1c] {
        font-size: 1rem;
        padding: 20px;
        border-radius: 10px;
    }

    a.nav-link.active[b-g62f1b4y1c], a.nav-link[b-g62f1b4y1c]  {
        margin: 1rem 1rem;
    }
}